<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.StudentMapper">
    <!--插入学生数据-->
    <insert id="saveStudents">
        insert into student (id, name, no, gender, phone, degree, violation_count, violation_score, class_id,
                             create_time, update_time)
        VALUES (#{id}, #{name}, #{no}, #{gender}, #{phone}, #{degree}, #{violationCount}, #{violationScore}, #{classId},
                #{createTime}, #{updateTime})
    </insert>
</mapper>